In [2]:
import pandas as pd
data_path = '../raw_data/'
df = pd.read_excel(data_path + 'HCP Dataset for Case Study.xlsx')

## Background Research
- HCP (Hospotical Casemix Protocol) 
    - standardised format of recording hospital episode data
    - provides demographical, financial and clinical information 
    - casemix funding - hospitals funded based on type and complexity of the cases that they treat, rather than a fixed flat rate.
    - hospitals provide to health insurers
    - health insurers provide to Australian Institute of Health and Welfare (AIHW)

-

,InsurerIdentifier,EpisodeIdentifier,DateOfBirth,Postcode,Sex,AdmissionDate,SeparationDate,HospitalType,ICU_Days,ICU_Hours,...,BundledCharges,HIH_Charges,SCN_Charges,CCU_Charges,SCN_Hours,CCU_Hours,SCN_Days,CCU_Days,QualifiedDaysNewborns,PalliativeCareDays
0,INS1,1624122,1012000,6280,1,1012023,2012023,2,0,0,...,316700,0,0,0,0,0,0,0,0,0
1,INS5,1624177,1011937,6233,2,1012023,6012023,2,0,0,...,696100,0,0,0,0,0,0,0,0,0
2,INS9,1624113,1011968,6225,2,1012023,9012023,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,,1624005,1011955,6281,1,1022023,1022023,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,,1625135,1011963,6230,1,1022023,1022023,2,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30610,INS1,1624133,1011951,6230,1,31122022,5012023,2,0,0,...,789200,0,0,0,0,0,0,5,0,0
30611,INS1,1624139,1011929,6230,2,31122022,1022023,2,0,0,...,1109900,0,0,0,0,0,0,0,0,0
30612,INS2,1622697,1011968,6230,1,31122022,31122022,2,0,0,...,0,0,0,0,0,0,0,0,0,0
30613,INS5,1622749,1011943,6258,1,31122022,31122022,2,0,0,...,0,0,0,0,0,0,0,0,0,0
30614,INS8,1622694,1011947,6232,2,31122022,31122022,2,0,0,...,0,0,0,0,0,0,0,0,0,0